<main role="main" class="container">
  <h1>Update Profile</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.error_notification %>

    <%# Avatar %>
    <%= f.label :avatar, 'Upload a new avatar', class: 'mb-0' %><br>
    <%= f.file_field :avatar %><br>

    <%= f.input :name %>
    <%= f.input :summary %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</main>