<div class="jumbotron text-center">
  <%# profile picture %>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize_to_fill: [200, 200], gravity: "center"), class: 'mb-3 round-avatar' %>
  <% else %>
    <%= image_tag 'odin-logo.svg', width: '200', height: '200', class: "mb-3 round-avatar"%>
  <% end %>
  <%# name & summary %>
  <h1 class="display-4"><%= @user.name %></h1>
  <hr>
  <p class="lead">
    <% if @user.summary %>
    <%= @user.summary %>
    <% else %>
      An Odinbook User
    <% end %>
  </p>

  <%= link_to pluralize(@user.friendships.select{|fr| fr.mutual? }.count, 'Friend'), user_friends_path(@user), class:"btn btn-secondary mr-1" %>

  <% if @user == current_user %>
    <%= link_to 'Edit Profile', edit_user_path, class:"btn btn-secondary" %>
  <% elsif !current_user.friends.include?(@user) %>
    <%= link_to 'Send Friend Request', friendships_path(:friend_id => @user), method: :post, class:"btn btn-secondary" %>
  <% end %>
</div>

<div class="jumbotron bg-white pt-0">
  <h1 class="display-4">Posts</h1>
  <% @user.posts.reverse_each do |post| %>
    <div class="card mb-2 mt-2">
      <div class="card-body">

        <%# Post Content %>
        <div class="card-text">
          <%= post.content %>
        </div>

        <%# Time Posted & Author %>
        <div class="card-subtitle text-muted d-inline float-right pt-2">
          <%= time_ago_in_words(post.created_at) + " ago" %> by <%= link_to post.author.name, post.author, class:'text-decoration-none text-reset' %>
          <%# post author avatar %>
          <% if post.author.avatar.attached? %>
            <%= image_tag post.author.avatar.variant(resize_to_fill: [30, 30], gravity: "center"), class: 'round-avatar' %>
          <% else %>
            <%= image_tag 'odin-logo', class: "round-avatar", height: "30", width: "30" %>
          <% end %>
        </div>
        
        <%# Like Button %>
        <% unless current_user.liked_posts.include?(post) %>
          <%= link_to likes(post), post_like_path(post), method: :post, class:"btn btn-primary btn-sm mr-1" %>
        <% else %>
          <%= link_to likes(post), post_like_path(post), method: :delete, class:"btn btn-outline-primary btn-sm mr-1" %>
        <% end %>

        <%# comment button %>
        <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#post-<%= post.id %>-new-comment" aria-expanded="false" aria-controls="post-<%= post.id %>-new-comment">
          Comment
        </button>

        <%# post direct link %>
        <%= link_to post, class:"ml-2" do %>
          <%= fa_icon 'link' %>
        <% end %>

        <%# comment form %>
        <div class="card collapse" id="post-<%= post.id %>-new-comment">
          <%= form_with(model: [post, post.comments.build], local: true, class: 'form-group comment_form m-3 p-0') do |f| %>
            <%= f.label :content, 'Comment' %>
            <%= f.text_area :content, class: 'form-control my-1' %>

            <div class="d-flex justify-content-end">
              <%= f.submit 'Post', class: 'btn btn-primary my-2' %>
            </div>
          <% end %>
        </div> 

      </div>
    </div>

    <%# post's comments %>
    <% post.comments.reverse_each do |comment| %>
      <% if comment.persisted? %>
        <div class="card comment mb-2 ml-auto">
          <div class="card-body">
            <%# comment text content %>
            <div class="card-text">
              <%= comment.content %>
            </div>

            <%# comment author & time %>
            <div class="card-subtitle text-muted float-right pt-2">
              <%= time_ago_in_words(comment.created_at) + " ago" %> by <%= link_to comment.author.name, comment.author, class:'text-decoration-none text-reset' %>

              <%# comment author avatar %>
              <% if comment.author.avatar.attached? %>
                <%= image_tag comment.author.avatar.variant(resize_to_fill: [30, 30], gravity: "center"), class: 'round-avatar' %>
              <% else %>
                <%= image_tag 'odin-logo', class: "round-avatar", height: "30", width: "30" %>
              <% end %>

              <%# comment delete button %>
              <p>
              <% if comment.author == current_user %>
                <%= link_to 'delete', post_comment_path(comment.post, comment), method: :delete, class: 'card-link text-danger float-right pt-1', data: { confirm: 'Are you sure?' } %>
              <% end %>
              </p>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>


  <% end %>
</div>