<div class="jumbotron text-center">
  <%# profile picture %>
  <%= image_tag 'odin-logo.svg', width: '200', height: '200', class: "mb-3 round-avatar"%>
  <%# name & summary %>
  <h1 class="display-4"><%= @user.name %></h1>
  <hr>
  <p class="lead">
    <% if @user.summary %>
    <%= @user.summary %>
    <% else %>
      An Odinbook User
    <% end %>
  </p>

  <%= link_to @user.friendships.select{|fr| fr.mutual? }.count.to_s + ' Friends', user_friends_path(@user), class:"btn btn-secondary mr-1" %>

  <% if @user == current_user %>
    <%= link_to 'Edit Profile', edit_user_path, class:"btn btn-secondary" %>
  <% elsif !current_user.friends.include?(@user) %>
    <%= link_to 'Send Friend Request', friendships_path(:friend_id => @user), method: :post, class:"btn btn-secondary" %>
  <% end %>
</div>
<div class="jumbotron bg-white pt-0">
  <h1 class="display-4">Posts</h1>
  <% @user.posts.each do |post| %>
    <div class="card mb-4">
        <div class="card-body">

          <div class="float-right">
            <%= link_to post do %>
              <%= fa_icon 'external-link' %>
            <% end %>
          </div>

          <div class="card-text">
            <%= post.content %>
          </div>

          <div class="card-subtitle text-muted d-inline float-right pt-2">
            <%= time_ago_in_words(post.created_at) + " ago" %> by <%= link_to post.author.name, post.author, class:'text-decoration-none text-reset' %>
          </div>

          <%= link_to '0 Likes', '#', class: "btn btn-primary mr-1" %>
          <%= link_to 'Comment', '#', class: "btn btn-secondary" %>
        </div>
      </div>
  <% end %>
</div>