<div class="jumbotron bg-white mb-0">
  <div class="container">
    <%= render 'posts/form' %>
  </div>
</div>
<div class="jumbotron bg-white pt-0">
  <h1 class="display-4">Feed</h1>
  <% @posts.each do |post| %>
    <div class="card mb-4">
      <div class="card-body">

        <div class="float-right">
          <%= link_to post do %>
            <%= fa_icon 'external-link' %>
          <% end %>
        </div>

        <div class="card-text">
          <%= post.content %>
        </div>

        <div class="card-subtitle text-muted d-inline float-right pt-2">
          <%= time_ago_in_words(post.created_at) + " ago" %> by <%= link_to post.author.name, post.author, class:'text-decoration-none text-reset' %>
        </div>

        <% unless current_user.liked_posts.include?(post) %>
          <%= link_to likes(post), post_like_path(post), method: :post, class:"btn btn-primary mr-1" %>
        <% else %>
          <%= link_to likes(post), post_like_path(post), method: :delete, class:"btn btn-outline-primary" %>
        <% end %>
        
        <%= link_to 'Comment', '#', class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>